@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Raleway:wght@200;300;400&family=Roboto+Mono&family=Roboto:wght@300&family=Source+Code+Pro:wght@500&family=Source+Sans+Pro:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  background: url(bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.landing-page {
  backdrop-filter: blur(10px) brightness(50%);
  margin: 2rem;
  border-radius: 10px;
  border: 1px solid grey;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.time-and-location {
  color: white;
  font-size: 3rem;
  width: fit-content;
  height: fit-content;
  margin: 4rem;
}
.time {
  margin: 0;
  display: inline;
}
.date {
  margin: 0;
}
.location {
  margin: 0;
}
.arrow-button {
  color: white;
  width: fit-content;
  height: fit-content;
  font-size: 2rem;
  margin: 4rem;
}
.arrow-button-wrapper {
  padding: 1rem;
  border: 2px solid white;
  border-radius: 50px;
  width: fit-content;
  float: right;
  backdrop-filter: blur(5px);
}
.arrow-button-icon {
  font-size: 2rem;
  color: white;
}

.home-page {
  margin: 0;
}
.home-page {
  padding: 1rem 4rem;
}
.weather-cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.weather-card {
  color: white;
  border: 1px solid grey;
  aspect-ratio: 10/4;
  width: 12rem;
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(10px) brightness(50%);
  padding: 0 3rem;
}
.weather-card div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
.card-icon {
  font-size: 2rem;
  margin-top: 1rem;
}
.title-text {
  font-size: 3rem;
  color: white;
}
.card-text {
  font-size: 1rem;
  text-align: center;
  margin: 0rem;
}
.card-information {
  font-size: 1rem;
}
.wind-purity {
  /* gap: 1rem; */
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.gas-type {
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: white;
  border: 1px solid grey;
  aspect-ratio: 10/4;
  width: fit-content;
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  backdrop-filter: blur(10px) brightness(50%);
  padding: 0 3.1rem;
}
.gas-name {
  margin: 0 1rem 0 0;
}
.concentration {
  font-size: 1rem;
}
.news-section {
  backdrop-filter: blur(10px) brightness(50%);
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 10px;
}
.news-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  gap: 1rem;
}
.news-card {
  width: calc(100% / 2.5);
  aspect-ratio: 4/2;
  border-radius: inherit;
  backdrop-filter: brightness(50%);
  padding: 2rem;
  color: white;
}
.news-link {
  background-color: white;
  padding: 1rem;
  font-size: 2rem;
  color: black;
  text-decoration: none;
  border-radius: 10px;
}
.news-card:nth-child(1) {
  background: url(https://images.pexels.com/photos/356040/pexels-photo-356040.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.news-card:nth-child(2) {
  background: url(https://images.pexels.com/photos/3806756/pexels-photo-3806756.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.news-card:nth-child(3) {
  background: url(https://images.pexels.com/photos/1117132/pexels-photo-1117132.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.news-card:nth-child(4) {
  background: url(https://images.pexels.com/photos/1618269/pexels-photo-1618269.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* SOME MEDIA QUERIES  */

@media (orientation: portrait) {
  .landing-page {
    margin: 1rem;
    padding: 1rem;
    height: fit-content;
  }
  .time-and-location {
    /* margin: 5rem 1rem; */
    margin: 2rem;
    font-size: 1rem;
  }
  .arrow-button {
    display: none;
  }
  .home-page {
    padding: 1rem;
  }
  .title-text {
    font-size: 2rem;
  }
  .weather-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: inherit;
    gap: 5px;
    padding: 0;
  }
  .weather-card div {
    text-align: center;
  }
  .weather-card {
    width: calc(100% / 2.5);
    flex-direction: row;
    aspect-ratio: 9/3;
    padding: 0.5rem;
  }
  .card-text {
    font-size: 1rem;
  }
  .card-information {
    font-size: 1rem;
  }
  .card-icon {
    font-size: 2rem;
  }
  .news-section {
    padding: 10px;
  }
  .news-card {
    /* aspect-ratio: 1/1; */
  }
  .news-text {
    font-size: 1rem;
  }
  .news-link {
    font-size: 1rem;
    padding: 10px;
    margin-top: 1rem;
  }
}
